
<div *ngIf="step==1">
<h2>Kasa - formularz zamowienia</h2>

<form (ngSubmit)="showSummary()">

  <div class="form-group">
    <input id="address" type="text" placeholder="Adres do wysylki" size="100" [(ngModel)]="model.address" name="address">

    <br /><br /> <br />

    <select class="form-control" id="shippmentMethod" required [(ngModel)]="model.shippmentMethod" name="shippmentMethod">
      <option *ngFor="let shpMethod of shippmentMethods">{{shpMethod}}</option>
    </select>

    <br /> <br />

    <select class="form-control" id="paymentMethod" required [(ngModel)]="model.paymentMethod" name="paymentMethod">
      <option *ngFor="let pmtMethod of paymentMethods">{{pmtMethod}}</option>
    </select>

  </div>

  <button type="submit">Dalej</button>
</form>
</div>


<div *ngIf="step==2">

  <h2>Podsumowanie zakupow</h2>
  <li *ngFor="let basket of baskets">
    <a routerLink="/showProduct/{{basket.prodId}}"> Produkt #{{ basket.prodId}} ({{basket.price}} PLN)</a>
  </li>
  Suma: {{totalPrice}} PLN

  <form (ngSubmit)="sendOrder()">
  <button type="submit">Zamawiam</button>
</form>
</div>


<div *ngIf="step==3">
  Zamowienie zostalo poprawnie zlozone. Dziekujemy!
</div>
